<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cite.app.levelapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/quizit"
        android:label="@string/app_name"
        android:roundIcon="@drawable/quizit"
        android:supportsRtl="true"
        android:theme="@style/Theme.LevelApp">
        <activity
            android:name=".Leaderboard"
            android:exported="false" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".QuizCategory" />
        <activity android:name=".QuizContainer" />
        <activity android:name=".WonActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>